{% extends 'base.html'%}
{% load static %}

{% block contents %}
<div class="card">
    <div class="card-header">
      {{ post.user }}<span class = 'created_at'>{{ post.created_at }}</span> 
    </div>
    <div class="card-body">
      <p class="card-text">{{ post.text }}</p>
        <p>
        {% if post.user == user %}
            <a href = '{% url 'timelines:delete' post.pk %}'>削除する</a>
            <a href = '{% url 'timelines:update' post.pk %}'>更新</a>
        {% endif %}
        </p>

        <a class = 'btn-auth' onClick = "location.href = '{% url 'timelines:comment' post.pk %}'" style="text-decoration: none;">返信する</a>
        <a href = '{% url 'timelines:userpost' post.user.id %}' style="text-decoration: none;" class = 'btn_auth'>
            {{ post.user.username }}の投稿一覧へ</a>
    </div>
</div>
<div class = 'comment'>
    <h5>コメント一覧</h5>
</div>
{% for comment in post.comment_set.all %}
<div class="card">
    <div class="card-header">
        {{ comment.user }}<span class = 'created_at'>{{ comment.created_at }}</span> 
    </div>
    <div class="card-body">
      <p class="card-text">{{ comment.text }}</p>
      <a class = 'btn-auth' onClick = "location.href = '{% url 'timelines:comment' post.pk %}'" style="text-decoration: none;">返信する</a>
      <a href = '{% url 'timelines:userpost' comment.user.id %}' style="text-decoration: none;" class = 'btn_auth'>{{ comment.user.username }}の投稿一覧へ</a>
    </div>
  </div>
{% endfor %}
{% endblock %}